* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5e8c7;
}

.banner {
  width: 100%;
  padding: 5%;
  background-color: #f2ffe9;
}

.container {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

.subject_group {
  display: flex;
  align-items: center;
  margin: 20px 0;
  width: 100%;
}

.subject {
  width: 155px;
  height: 90px;
  background-color: #ccc;
  margin: 5px;
  border-radius: 10px;
}

.subject.chinese {
  background-color: #123;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}
